body {
  text-align: center;
  background-color: #49182f;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
 

}

footer {
  color: #DBEDF3;
  
}

.w {
  background-image:url("sources/images/tom1.png");

}

.a {
  background-image:url("sources/images/tom4.png");
}

.s {
  background-image:url("sources/images/tom3.png");
}

.d {
  background-image:url("sources/images/tom2.png");
}

.j { background-image:url("sources/images/crash.png");

}

.k { background-image:url("sources/images/snare.png");

}

.l {
  background-image:url("sources/images/kick.png");
}

.set {
  margin: 10% auto;
}


.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}


.drum {
  outline: none;
  border: 10px solid #7a203e;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
